@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body {
    background-color: #2C2F33;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.App {
    width: 800px;
}

.postList {
    margin: 20px 0;
    color: white;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid #8ab9e1;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.post__btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15px;
    height: 100px;
}

.form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator {
    border: 1px solid #8ab9e1;
    height: 2px;
    margin: 15px 0;
    opacity: .75;
}

.noPost {
    text-align: center;
    margin-top: 100px;
    color: white;
}

select {
    margin: 10px 0;
    outline: none;
    border-radius: 10px;
    border-color: #8ab9e1;
    background: transparent;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
}

select * {
    background: #2C2F33;
}

select > option:disabled {
    background-color: #aec3d2;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-150px);
    opacity: 0;
    transition: all 500ms ease-in;
}

input {
    background: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

input:hover,
button:hover,
select:hover {
    background-color: #aec3d2;
    transition: background-color .5s ease;
}

#root > div > button {
    margin: 15px 0;
}

.page__wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page__wrapper button:disabled {
    background-color: #aec3d2;
    font-weight: bold;
    color: white;
    border: white 2px solid;
}

.navbar {
    min-height: 50px;
    width: 70vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 2px solid #8ab9e1;
    margin: 10px 0;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.navbar__links a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.navbar__links {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__links a:hover {
    color: #8ab9e1;
    font-weight: bold;
    transition: color .3s ease;
}

.about__header {
    margin: 100px 0;
    color: white;
}

.notFound__container {
    width: 350px;
    height: 300px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.post__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
}

.post__header {
    margin-bottom: 100px;
}

.comments__container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.comments__container:last-child {
    margin-bottom: 0;
}

.comments__header {
    align-self: center;
    margin: 30px;
}

.comment {
    margin-bottom: 15px;
}

.post__container .post {
    margin-top: 100px;
    width: 900px;
    flex-direction: column;
    align-items: flex-start;
}

.login__container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    justify-content: center;
}

.login__header {
    color: white;
    align-self: center;
    margin-bottom: 50px;
}

.login__container form {
    display: flex;
    flex-direction: column;
}

.login__container button {
    align-self: center;
    margin-top: 50px;
}

.login__container input:hover {
    background-color: rgba(138, 185, 225, 0.3);
}








